.container{
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin: 40px 40px;
}
.products-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px;
    height: 100%;
   
}